/* Rounded corners inspired by http://virtuelvis.com/gallery/css/rounded/ */

body {
  font-size: 10pt;
  margin-left: 15%;
  margin-right: 15%;
  font-family: sans-serif;
  background-image: url(images/linbit-logo-rotated-subdued.png);
  background-repeat: no-repeat;
  background-position: 10px 10px;
  background-attachment: fixed;
}

.legalnotice, .footnote {
  font-size: 8pt;
}

/* Notes, warnings, and cautions get a light grey background, with large rounded corners */
.note, .warning, .caution, .important, .tip { 
  background: #d3d3d3;
}
.note:before, .warning:before, .caution:before, .important:before, .tip:before { 
  background: transparent url(images/top-right.png) scroll no-repeat top right;
  margin-bottom: -20px;
  height: 30px;
  display: block;
  content: url(images/top-left.png);
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
}
.note:after, .warning:after, .caution:after, .important:after, .tip:after { 
  display: block;
  line-height: 0.1;
  font-size: 1px;
  content:  url(images/bottom-left.png);
  margin: 0 0 -1px 0;
  height: 30px;
  background: transparent url(images/bottom-right.png) scroll no-repeat bottom right ;
  padding: 0;
}

/* programlistings get a light grey background, with small rounded corners. */
.programlisting { 
  background: #d3d3d3;
}
.programlisting:before { 
  background: transparent url(images/top-right-small.png) scroll no-repeat top right;
  margin-bottom: -5px;
  height: 15px;
  display: block;
  content: url(images/top-left-small.png);
  padding: 0;
  line-height: 0.1;
  font-size: 1px;
}
.programlisting:after { 
  display: block;
  line-height: 0.1;
  font-size: 1px;
  content:  url(images/bottom-left-small.png);
  height: 15px;
  background: transparent url(images/bottom-right-small.png) scroll no-repeat bottom right ;
  padding: 0;
}

.guimenu, .guimenuitem, .guibutton, .guilabel {
  font-weight: bold;
  background-color: #d6d3ce;
}

/* For links, we use LINBIT orange and grey */
a:link { 
  font-weight: bold;
  color: #fa8522;
}
a:hover { 
  font-weight: bold;
  color: grey; 
}
a:visited { 
  color: grey; 
}
